*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'RocknRoll One', sans-serif;
    height: 100%;
}
wrapper{
    position: relative;
    min-height: 100%;
}
a{
    text-decoration: none;
}
.hero-meal {
    min-height: 100vh;
    position: relative;
    background-blend-mode: darken;
    padding-bottom: 100px;
}
footer{

position: absolute;
    bottom: 0;
    width: 100%;
}

.header-input{
    margin-top: 100px;
}
.footer{
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.small-img{

}
.small-img:hover{

}
.dishes{
    transition: 0.5s;
}

.dishes:hover{
    transform: scale(1.1);
}
.mealdetails{
    transition: 0.5s;
}
.mealdetails:hover{
    transform: scale(1.3);
}
.ingredient{
    transition: 0.5s;
}
.ingredient:hover{
    transform: scale(1.1);
}
.spinner{
    margin-top: 200px;

}